.dark {
    background-color: rgb(32, 32, 32);
    color: white
}

.dark .panel {
    background-color: rgb(46, 46, 46);
}

.dark .button {
    background-color: rgb(31, 31, 31);
    border-color: white !important;
    color: white !important
}

.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid rgb(73, 73, 73);
}

.dark .w3-button:hover {
    background-color: rgb(82, 82, 82) !important;
    color: white !important
}

.dark .item-button {
    background-color: rgb(31, 31, 31);
    color: white;
    border: 1px solid white;
}
.dark .item-button:hover {
    background-color: rgb(82, 82, 82) !important;
}
.dark .item-button.shop-btn-locked {
    opacity: 0.5;
}
.dark .item-button.shop-btn-unaffordable {
    border-color: #aa2222 !important;
    color: #ffaaaa;
}

.dark .entropy-card {
    background-color: rgb(46, 46, 46);
    border-color: rgb(73, 73, 73);
    color: white;
}
.dark .entropy-table th {
    background: rgb(60, 60, 60);
    color: white;
    border-color: rgb(73, 73, 73);
}
.dark .entropy-table td {
    border-color: rgb(73, 73, 73);
}
.dark .entropy-table tr:hover {
    background: rgba(255, 255, 255, 0.05);
}
.dark .entropy-table div[id*=\"-desc\"] {
    color: #cccccc;
}
