.dark {
    background-color: rgb(32, 32, 32);
    color: white
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.dark .panel {
    background-color: rgb(46, 46, 46);
}

.dark .button {
    background-color: rgb(31, 31, 31);
    border-color: white !important;
    color: white !important
}

.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid rgb(73, 73, 73);
}

.dark .w3-button:hover {
    background-color: rgb(82, 82, 82) !important;
    color: white !important
}

.dark .item-button.shop-btn-available {
    background-color: #23385c;
    color: #e8f1ff;
    border-color: #4a78d4 !important;
}

.dark .item-button.shop-btn-available:hover {
    background-color: #2f4c7c;
}

.dark .item-button.shop-btn-unaffordable {
    background-color: #5a1f1f;
    color: #f3c5c0;
    border-color: #c24a4a !important;
}

.dark .item-button.shop-btn-locked {
    background-color: #2b2b2b;
    color: #8a8a8a;
    border-color: #565656 !important;
    opacity: 0.7;
}
